* {
  margin: 0px;
  padding: 0px; }

#information {
  font-family: "Verdana", sans-serif;
  height: 12%;
  padding: 10px;
  background: rgba(0,0,0,0.8);
  color: #FFFFFF;
  border: 0px;
  position: fixed;
  bottom: 0;
  left: 0; }
